.jumbotron {
    padding: 0px;
}

.bg-index-top {
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
}

.bg-about-top {
    height: 40vh;
    background-image: url("../images/bibong.jpg");
    background-size: cover;
    background-position: center;
}

.bg-task-top {
    height: 100vh;
    background-image: url("../images/buddha.jpg");
    background-size: cover;
    /*filter: blur(1px);*/
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

.bg-index-bottom {
    height: 60vh;
    background-image: url("../images/seaofjapan.jpg");
    background-size: cover;
    background-position: 50% 95%;
}

.col-md-4 {
    padding: 20px;
}

#circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circ {
    text-align: center;
    margin: auto;
    padding: 10px;
}

h1#index {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30vh;
}

h1#about {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3vh;
    color: whitesmoke;
}

h1#task {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3vh;
    padding-bottom: 10vh;
    color: black;
    text-decoration: underline;
}

/*h1#task {
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 100;
}*/

#task-container {
    text-align: center;
}

p,
ol {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
}

li {
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.p-centered {
    text-align: center;
}

p.aboutme {
    padding-top: 50px;
}

p.social {
    padding-top: 10px;
    padding-bottom:  5px;
}

a {
    text-decoration: underline;
    color: #363636;
}

p.italics {
    font-style: italic; 
}

a:hover {
    color: #363636;
}

a:visited {
    color: #363636;
}