<header>
    <div class="container navigation">
        <div class="row">
            <a class="goto" id="logo" href="#home">etd</a>
            <nav>
                <ul>
                    <li><a class="goto" href="#who">About me</a></li>
                    <li><a class="goto" href="#where">Social</a></li>
                    <li><a class="goto" href="#contact"><i class="fa fa-circle-thin fa-lg" aria-hidden="true"></i>
                    </a></li>
                </ul>
            </nav>
        </div>
        <!-- / row -->
    </div>
</header>
<div class="jumbotron" id="home">
    <div class="bg-index-top">
        <div class="container-fluid">
            <h1 class="index">Eric Dulcet</h1>
            <h2 class="index">Developer & Designer</h2>
            
        </div>
        <!-- / container -->
        <div class="row">
            <a class="goto" href="#who"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- / jumbotron -->
</div>
<div class="container section" id="who">
    <div class="row">
        <p class="col-md-6 col-md-offset-3 about">About me</p>
    </div>
    <div class="row who">
        <div class="col-md-6 col-md-offset-3">
            <br><br>
            <p>I am a self taught developer that has a bachelors degree in design. I build web apps with full stack javascript frameworks, collect and clean data with Python, and create data visualizations using D3.</p>
            <p>Email me at <a href="mailto:etdulcet@gmail.com?subject=hello">etdulcet@gmail.com</a>, or find me on <a class="goto" href="#where">social media</a>.</p>
            {{!--   <p><a href="https://www.linkedin.com/in/ericdulcet">Linkedin</a>    <a href="https://github.com/anatomiam">Github</a>    <a href="https://www.instagram.com/dulce1et/">Instagram</a></p> --}}
            <br><br>
        </div>
        <!-- / about me div -->
    </div>
    <!-- row -->
</div>
<!-- / container -->
<div class="container section" id="where">
    <div class="row when">
        <div class="col-sm-4 social-circles">
            <a href="https://www.linkedin.com/in/ericdulcet"><i class="fa fa-linkedin-square fa-5x"></i></a>
            <div class="photo-circle-div">
                <img class="photo-circle" src="images/morning.jpg">
            </div>
        </div>
        <div class="col-sm-4 social-circles">
            <a href="https://github.com/anatomiam"><i class="fa fa-github fa-5x"></i></a>
            <div class="photo-circle-div">
                <img class="photo-circle" src="images/seoraksan.jpg">
            </div>
        </div>
        <div class="col-sm-4 social-circles">
            <a href="https://www.instagram.com/dulce1et/"><i class="fa fa-instagram fa-5x"></i></a>
            <div class="photo-circle-div">
                <img class="photo-circle" src="images/seoul.jpg">
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- / container -->
<hr>
{{!--
<div class="container section" id="where">
</div>
<hr>
<div class="container section" id="why">
</div>
--}}
{{!-- <div class="bg-index-bottom" id="contact"></div> --}}
<footer id="contact">
</footer>