<header>
<div class="container navigation">
    <div class="row">
        <a class="goto" id="logo" href="#home">e</a>

        <nav>
            <ul>
                <li><a class="goto" href="#who">About me</a></li>
                <li><a class="goto" href="#where">Social</a></li>
                <li><a class="goto" href="#contact"><i class="fa fa-circle-thin fa-lg" aria-hidden="true"></i>
</a></li>

            </ul>
        </nav>




    </div>
     <!-- / row -->
</div>
</header>
        <div class="jumbotron" id="home">
            <div class="bg-index-top">
                <div class="container-fluid">
                    <h1 class="index">Eric Dulcet</h1>
                    <h2 class="index">Developer & Designer</h2>
                    
            </div>
                            <!-- / container -->

            <div class="row">
            <a class="goto" href="#who"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
</div>
        </div>
        <!-- / jumbotron -->
        </div>

    <div class="container section" id="who">
    <div class="row">
<p class="col-md-6 col-md-offset-3 about">About me</p>
<hr>
    </div>
        <div class="row who">
            <div class="col-md-6 col-md-offset-3">
            <br><br>

                <p>I am a self taught developer that holds a bachelors degree in design. I like to build web apps with full stack javascript frameworks, collect and clean data with Python, and create data visualizations in D3.</p> 

                <p>I'm currently available for hire on front end development/ design projects. If you have an interesting idea that you'd like to be visualized, I'd be glad to help out free of charge. You can email me at <a href="mailto:etdulcet@gmail.com?subject=Project Inquiry">etdulcet@gmail.com</a>, or find me on <a class="goto" href="#where">social media</a>.</p>

              {{!--   <p><a href="https://www.linkedin.com/in/ericdulcet">Linkedin</a>    <a href="https://github.com/anatomiam">Github</a>    <a href="https://www.instagram.com/dulce1et/">Instagram</a></p> --}}

            </div>
            <!-- / about me div -->
        </div>
        <!-- row -->
    </div>
    <!-- / container -->


        <hr>

    <div class="container section" id="where">
            <div class="row when">
                <div class="col-sm-4">
                    <div class="photo-circle-div">
                        <a href="https://www.linkedin.com/in/ericdulcet"><img class="photo-circle" src="images/morning.jpg"></a>
                        <p class="social">Linkedin</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="photo-circle-div">
                        <a href="https://github.com/anatomiam"><img class="photo-circle" src="images/seoraksan.jpg"></a>
                        <p class="social">Github</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="photo-circle-div">
                        <a href="https://www.instagram.com/dulce1et/"><img class="photo-circle" src="images/seoul.jpg"></a>
                        <p class="social">Instagram</p>
                    </div>
                </div>
            </div>
            <!-- row -->
    </div>
    <!-- / container -->

    <hr>
{{!-- 
        <div class="container section" id="where">
</div>

<hr>


    <div class="container section" id="why">
</div>
 --}}
    

    <div class="bg-index-bottom" id="contact"></div>
    <footer>
    </footer>
   

