<header>
<div class="container navigation">
    <div class="row">
        <a class="home" href="#">ETD</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="#who">Who</a></li>
                <li><a href="#what">What</a></li>
                <li><a href="#">When</a></li>
                <li><a href="#">Where</a></li>
                <li><a href="#">Why</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->
</div>
</header>
        <div class="jumbotron">
            <div class="bg-index-top section" id="who">
                <div class="container-fluid">
                    <h1 id="index"> </h1>
                </div>
                <!-- / container -->
            </div>
        </div>
        <!-- / jumbotron -->
          

    <div class="container section" id="who">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="aboutme">My name's Eric.</p>

                <p>I live and work in Grand Rapids, MI as a freelance web developer and designer. I like to build apps with the MEAN stack framework, D3, and Python.</p> 

                <p>I'm currently available for hire on projects including front end development, data analysis, and data visualization.</p> 

                <p><a href="https://www.linkedin.com/in/ericdulcet">Linkedin</a>    <a href="https://github.com/anatomiam">Github</a>    <a href="https://www.instagram.com/dulce1et/">Instagram</a></p>

            </div>
            <!-- / about me div -->
        </div>
        <!-- row -->
    </div>
    <!-- / container -->
    <hr>

    <div class="container" id="what">
        <div class="row">
            
            <div class="col-xs-4" id="element_info"></div>
            <div class="col-xs-8" id="elements"></div>
        </div>

        <div class="row">
        <div class="col-xs-3">
        <button id="order">Order</button> 
    </div>
    <div class="col-xs-3">
        <button id="shuffle">Shuffle</button> 
    </div>
    <div class="col-xs-3">
        <button id="groupcolor">Color by Group</button> 
    </div>
    </div>
    </div>

    <hr>

    <div class="container section" id="where">
            <div class="row">
                <div class="col-sm-4">
                    <div class="photo-circle-div">
                        <a href="https://www.linkedin.com/in/ericdulcet"><img class="photo-circle" src="images/morning.jpg"></a>
                        <p class="social">Linkedin</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="photo-circle-div">
                        <a href="https://github.com/anatomiam"><img class="photo-circle" src="images/seoraksan.jpg"></a>
                        <p class="social">Github</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="photo-circle-div">
                        <a href="https://www.instagram.com/dulce1et/"><img class="photo-circle" src="images/seoul.jpg"></a>
                        <p class="social">Instagram</p>
                    </div>
                </div>
            </div>
            <!-- row -->
    </div>
    <!-- / container -->
    <br>
    <div class="bg-index-bottom section" id="when"></div>
    <footer>
    </footer>
   

